/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Header Styles */
.top-header {
  background-color: #969494;
  color: #fff;
  padding: 5px;
}
/* 
.nav-banner {
  display: flex;
  flex-direction: row-reverse;
}
check up */

/* Main navigation styles */
.nav {
  background-color: #969494;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-brand {
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.5rem;
}

.nav-menu {
  padding: 10px;
  text-decoration: underline;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}


/* Hamburger icon styles */
.hamburger-icon {
  display: none;
  font-size: larger;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Submenu styles */
.submenu {
  display: none;
  position: absolute;
  background-color: #969494;
  list-style-type: square;
  padding: 10px 10px 10px 20px;
  top: 100%;
  right: 0; /* Adjusted to be on the right side */
  width: auto; /* Adjusts width based on content */
}

.submenu-item {
  margin-bottom: 5px;
  padding: 1px 2px 1px 2px;
  text-decoration: underline;
  /*background-color: #444;*/
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0; /* Adjusted to be on the right side */
    background-color: #969494;
    width: auto; /* Adjusts width based on content */
  }
  
  .nav-menu.active {
    display: flex;
  }
  
  .submenu {
    width: auto; /* Adjusts width based on content */
    position: static;
    display: none; /* Hide submenu by default in mobile */
  }
  
  .nav-item {
    margin: 10px 0;
  }
  
  /* Show submenu when nav-item is clicked */
  .nav-item.active .submenu {
    display: block;
  }
  
  .hamburger-icon {
    display: block; /* Show hamburger icon in mobile mode */
  }
}


/* Top Body Styles */
.top-body {
  display: flex;
  padding: 20px;
}

.left-column {
  width: 75%;
}

.right-column {
  width: 25%;
}

.right-column h3 {
  padding-left: 10px;
  padding-bottom: 10px;
}

.article-container,
.offer-container {
  margin: 0px 5px 10px 10px;
  padding: 3px;
  background-color: azure;
  border: 1px solid #ccc;
}

.offer-container {
  padding: 10px 5px;
}

.offer-container .offer {
  color: red;
}

/* Top Footer Styles */
.top-footer {
  background-color: #9e9b9b;
  padding: 10px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}

.social-icons a:hover {
  background-color: #ccc;
  opacity: 0.9;
  border: 2px solid rgb(255, 255, 255);
}

.icon {
  display: inline-block;
  width: 40px; /* Set the width of the link */
  height: 40px; /* Set the height of the link */
  background-size: cover;
}

.instagram {
  background-image: url('../../images/Home/instagram.png');
}

.facebook {
  background-image: url('../../images/Home/facebook.png');
}

.twitter {
  background-image: url('../../images/Home/twitter.png');
}

.tiktok {
  background-image: url('../../images/Home/tiktok.png');
}

.pinterest {
  background-image: url('../../images/Home/pinterest.png');
}

.youtube {
  background-image: url('../../images/Home/youtube.png');
}

.linkedin {
  background-image: url('../../images/Home/linkedin.png');
}


 /* Responsive styles */
 @media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0; /* Adjusted to be on the right side */
    background-color: #969494;
    width: auto; /* Adjusts width based on content */
  }
  
  .nav-menu.active {
    display: flex;
  }
  
  .submenu {
    width: auto; /* Adjusts width based on content */
    position: static;
    display: none; /* Hide submenu by default in mobile */
  }
  
  .nav-item {
    margin: 10px 0;
  }
  
  /* Show submenu when nav-item is clicked */
  .nav-item.active .submenu {
    display: block;
  }
  
  .hamburger-icon {
    display: block; /* Show hamburger icon in mobile mode */
  }
}

/* Show submenu on hover in desktop mode */
@media screen and (min-width: 769px) {
  .nav-item:hover .submenu {
    display: block;
  }
  
  .hamburger-icon {
    display: none; /* Hide hamburger icon in desktop mode */
  }
}
