/* Example CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #333;
    color: #fff;
    padding: 10px 20px 10px 0px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .social-icons a:hover {
    background-color: #ccc;
    opacity: 0.9;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .icon {
    display: inline-block;
    width: 25px; /* Set the width of the link */
    height: 25px; /* Set the height of the link */
    background-size: cover;
  }
  
  .instagram {
    background-image: url('../../images/Home/instagram.png');
  }
  
  .facebook {
    background-image: url('../../images/Home/facebook.png');
  }
  
  .twitter {
    background-image: url('../../images/Home/twitter.png');
  }
  
  .tiktok {
    background-image: url('../../images/Home/tiktok.png');
  }
  
  .pinterest {
    background-image: url('../../images/Home/pinterest.png');
  }
  
  .youtube {
    background-image: url('../../images/Home/youtube.png');
  }
  
  .linkedin {
    background-image: url('../../images/Home/linkedin.png');
  }  


main {
    padding: 160px 20px 20px 20px;
}

.productContainer {
    margin-bottom: 20px;
    background-color:azure;
}

.productCard {
    padding: 5px 5px;
    display: flex;
    border: 1px solid #ccc;
}

.productCard img {
    max-width: 150px;
    height: auto;
}

.productDetails {
    padding: 10px;
}

.longDescription {
    display: block;
    color: black;
}

.descountOffer{
    color: red;
}

a {
    text-decoration: none;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Media query for mobile */
@media only screen and (max-width: 600px) {
    .productCard {
        flex-direction: column;
    }

    .productImage {
        text-align: center;
    }

    .longDescription {
        display: none;
    }

    .productDetails {
        text-align: center;
    }
}
